*{
    margin: 0;
    padding: 0;
}
.hero{
    background: url(/img/AdobeStock_292645263_0.jpeg);
    color: #fff;
    background-size: cover;
    height: 100%;
    overflow: auto;
    z-index: 2;
    padding-bottom: 176px;
    position: relative;
    .shade{
        content: '';
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 0;
        min-height: 100%;
    }
    .hero__container{
        z-index: 2;
        position: relative;
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .up-text{
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .span{
        font-weight: 700;
    }
    .title{
        font-size: 56px;
        font-weight: bold;
        max-width: 803px;
        margin-top: 24px;
    }
    .after{
        margin-top: 24px;
        font-size: 16px;
    }
    .text{
        margin-top: 16px;
        font-size: 16px;
        max-width: 599px;
    }
    .read{
        width: 205px;
        height: 56px;
        margin-top: 48px;
        background-color: #FFD050;
        border: none;
        font-size: 17px;
        font-weight: 700;
    }
}
.post{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    gap: 32px;
    height: 100%;
    align-items: start;
    .yellow{
        background-color: #FBF6EA;
    }
    .read{
        width: 205px;
        height: 56px;
        margin-top: 32px;
        background-color: #FFD050;
        border: none;
        font-size: 17px;
        font-weight: 700;
    }
    .posts{
        display: flex;
    }
    .post-left{
        gap: 32px;
        display: flex;
        flex-direction: column-reverse;
    }
    .post-right{
        display: flex;
        width: 100%;
        justify-content: start;
        gap: 32px;
        flex-direction: column-reverse;
    }
    .post-up{
        display: flex;justify-content: space-between;
        font-size: 36px;
        font-weight: bold;
        grid-gap: 0 20px;
    }
    .post-href{
        font-size: 16px;
        font-weight: 500;
        color: #592EA9;
    }
    .big-card{
        max-width: 669px;
        padding: 32px;
        outline: #c4c5ce 1px solid;
        box-shadow: #6D6E76 -4px -4px 4px -4px;
        img{
            width: 669px;
            transition: all .3s ease;
        }
        transition: all .4s ease;
    }
    .post-down{
        display: flex;
        gap: 55px;
        width: 100%;
        justify-content: space-between;
    }
    .big-card:hover{
        outline: #6d6e77 1px solid;
        box-shadow: #6D6E76 -4px -4px 4px -4px;
    }
    .hrefs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        width: 100%;
        flex-wrap: wrap;
    }
    .post-name{
        font-size: 24px;
        font-weight: bold;
    }
    .mini-cards{
        padding: 32px;
        padding-bottom: 10px;
    }
    .name-card-post{
        font-size: 28px;
        font-weight: bold;
        margin-top: 16px;
    }
    .data-card{
        margin-top: 32px;
        font-size: 14px;
    }
    .card-text{
        color: #6D6E76;
        font-size: 16px;
        margin-top: 16px;
    }
}
.about{
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .about-up{
        display: flex;
        justify-content: end;
    }
    .about__container{
        width: 100%;
        display: flex;
        gap: 61px;
    }
    .about-down{
        background-color: #F4F0F8;
        display: flex;
        padding: 92px 80px;
        gap: 61px;
    }
    .read{
        font-size: 18px;
        font-weight: 800;
        color: #592EA9;
        margin-top: 16px;
    }
    .yellow2{
        height: 23px;
        width: 779px;
        background-color: #FFD050;
    }
    .left{
        max-width: 516px;
    }
    .tema{
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .right{
        max-width: 516px;
    }
    .about-text{
        font-size: 17px;
        font-weight: 500;
        margin-top: 16px;
    }
    .about-title{
        font-size: 36px;
        font-weight: 700;
        margin-top: 24px;
    }
    .about-title2{
        font-size: 28px;
        font-weight: 700;
        margin-top: 24px;
    }
    .vilet{
        height: 23px;
        width: 282px;
        background-color: #592EA9;
    }
}
@media screen and (max-width: 945px) {
    .post{
        flex-direction: column;
    }
    .big-card{
        max-width: 669px;
        padding: 20px !important;
        img{
            max-width: 100%;
        }
        padding: 20px;
    }
}
@media screen and (max-width: 768px) {
    .about__container{
        flex-direction: column;
    }
    .about-down{
        padding: 40px 10px !important;
    }
    .right{
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 425px) {
    .about{
        .about-title{
            font-size: 28px;
        }
    }
}