*{
    margin: 0;
    padding: 0;
}
.none{
    display: none;
}
.hero{
    background: url(/img/AdobeStock_292645263_0.jpeg);
    color: #fff;
    background-size: cover;
    height: 100%;
    overflow: auto;
    z-index: 2;
    padding-bottom: 176px;
    position: relative;
    .shade{
        content: '';
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 0;
        min-height: 100%;
    }
    .hero__container{
        z-index: 2;
        position: relative;
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .up-text{
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .span{
        font-weight: 700;
    }
    .title{
        font-size: 56px;
        font-weight: bold;
        max-width: 803px;
        margin-top: 24px;
    }
    .after{
        margin-top: 24px;
        font-size: 16px;
    }
    .text{
        margin-top: 16px;
        font-size: 16px;
        max-width: 599px;
    }
    .read{
        width: 205px;
        height: 56px;
        margin-top: 48px;
        background-color: #FFD050;
        border: none;
        font-size: 17px;
        font-weight: 700;
    }
}
.post{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    gap: 32px;
    height: 100%;
    align-items: start;
    .yellow{
        background-color: #FBF6EA;
    }
    .read{
        width: 205px;
        height: 56px;
        margin-top: 32px;
        background-color: #FFD050;
        border: none;
        font-size: 17px;
        font-weight: 700;
    }
    .posts{
        display: flex;
    }
    .post-left{
        gap: 32px;
        display: flex;
        flex-direction: column-reverse;
    }
    .post-right{
        display: flex;
        width: 100%;
        justify-content: start;
        gap: 32px;
        flex-direction: column-reverse;
    }
    .post-up{
        display: flex;justify-content: space-between;
        font-size: 36px;
        font-weight: bold;
        grid-gap: 0 20px;
    }
    .post-href{
        font-size: 16px;
        font-weight: 500;
        color: #592EA9;
    }
    .big-card{
        max-width: 669px;
        padding: 32px;
        outline: #c4c5ce 1px solid;
        box-shadow: #6D6E76 -4px -4px 4px -4px;
        img{
            width: 669px;
            transition: all .3s ease;
        }
        transition: all .4s ease;
    }
    .post-down{
        display: flex;
        gap: 55px;
        width: 100%;
        justify-content: space-between;
    }
    .big-card:hover{
        outline: #6d6e77 1px solid;
        box-shadow: #6D6E76 -4px -4px 4px -4px;
    }
    .hrefs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        width: 100%;
        flex-wrap: wrap;
    }
    .post-name{
        font-size: 24px;
        font-weight: bold;
    }
    .mini-cards{
        padding: 32px;
        padding-bottom: 10px;
    }
    .name-card-post{
        font-size: 28px;
        font-weight: bold;
        margin-top: 16px;
    }
    .data-card{
        margin-top: 32px;
        font-size: 14px;
    }
    .card-text{
        color: #6D6E76;
        font-size: 16px;
        margin-top: 16px;
    }
}
.about{
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .about-up{
        display: flex;
        justify-content: end;
    }
    .about__container{
        width: 100%;
        display: flex;
        gap: 61px;
    }
    .about-down{
        background-color: #F4F0F8;
        display: flex;
        padding: 92px 80px;
        gap: 61px;
    }
    .read{
        font-size: 18px;
        font-weight: 800;
        color: #592EA9;
        margin-top: 16px;
    }
    .yellow2{
        height: 23px;
        width: 779px;
        background-color: #FFD050;
    }
    .left{
        max-width: 516px;
    }
    .tema{
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .right{
        max-width: 516px;
    }
    .about-text{
        font-size: 17px;
        font-weight: 500;
        margin-top: 16px;
    }
    .about-title{
        font-size: 36px;
        font-weight: 700;
        margin-top: 24px;
    }
    .about-title2{
        font-size: 28px;
        font-weight: 700;
        margin-top: 24px;
    }
    .vilet{
        height: 23px;
        width: 282px;
        background-color: #592EA9;
    }
}
.blog-up{
    padding: 80px 0;
    background-color: #F4F0F8;
    .text-block{
        display: flex;
        gap: 16px;
        flex-direction: column;
    }
    .img{
        height: 359px;
    }
    .hero__container{
        gap: 100px;
        display: flex;
        justify-content: space-between;
    }
    .read{
        margin-top: 16px;
    }
    .title{
        font-size: 36px;
        font-weight: 700;
        max-width: 560px;
    }
    .data{
        font-size: 16px;
        letter-spacing: 1.4px;
    }
    .text{
        font-size: 16px;
        color: #6D6E76;
        max-width: 624px;
        line-height: 1.3;
        letter-spacing: 1px;
    }
    .tema{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
    }
}
.posts{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    .up-post{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .card{
        margin-top: 64px;
    }
    .post-img{
        height: 320px;
    }
    .tema{
        font-size: 16px;
        font-weight: 600;
        color: #592EA9;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .card{
        gap: 32px;
        align-items: center;
        display: flex;
    }
    .text-card{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    .post-title{
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.4px;
    }
    .post-text{
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.5px;
        color: #6D6E76;
    }
    .up-post::after{
        height: 0.1px;
        width: 100%;
        background-color: #6D6E76;
        content: '';
    }
    .title{
        font-size: 48px;
        font-weight: 700;
    }
}
.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 128px;
    .join-title{
        font-size: 36px;
        font-weight: 700;
        max-width: 414px;
    }
    .read{
        width: 194px;
        height: 56px;
        margin-top: 32px;
        background-color: #FFD050;
        border: none;
        font-size: 18px;
        font-weight: 700;
    }
    .join-text{
        font-size: 16px;
        color: #6D6E76;
        max-width: 405px;
        margin-top: 16px;
    }
}
.category{
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    .items{
        display: flex;
        gap: 32px;
        justify-content: space-around;
        width: 100%;
    }
    .item{
        outline: #c4c5ce 1px solid;
        padding: 32px;
        width: 25%;
        flex-direction: column;
        box-shadow: #6D6E76 -4px -4px 4px -4px;
    }
    .yellow{
        background-color: #FFD050;
        outline: none;
        box-shadow: none;
    }
    .item-logo{
        height: 40px;
        background-color: #FBF6EA;
        padding: 10px;
        border-radius: 10px;
    }
    .title-category{
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -2px;
    }
    .item-title{
        font-size: 28px;
        margin-top: 16px;
        font-weight: 700;
    }
    .item-text{
        font-size: 16px;
        color: #6D6E76;
        margin-top: 4px;
    }
}
.start{
    display: flex;
    margin-top: 128px;
    height: 100%;
    .start-left{
        background-image: url(/img/close-up-photography-of-man-wearing-sunglasses-1212984.svg);
        width: 900px;
        height: 705px;
        background-size: cover;
    }
    .start-right{
        height: 705px;
        width: 828px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .read{
        width: 205px;
        height: 56px;
        margin-top: 32px;
        background-color: #FFD050;
        border: none;
        font-size: 17px;
        font-weight: 700;
    }
    .right-cont{
        padding: 40px;
    }
    .about-title{
        font-size: 48px;
        font-weight: 700;
        margin-top: 24px;
    }
    .tema{
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .about-text{
        font-size: 17px;
        font-weight: 500;
        margin-top: 16px;
        color: #6D6E76;
    }
}

.autor{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 128px;
    gap: 48px;
    .title-autors{
        font-size: 36px;
        display: flex;
        font-weight: 700;
        letter-spacing: 2px;
        justify-content: center;
    }
    .autor-cards{
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .autor-card{
        display: flex;
        width: 296px;
        background-color: #f4f4f4;
        padding: 40px 0;
        align-items: center;
        flex-direction: column;
    }
    .autor-img{
        height: 128px;
        width: 128px;
        border: 5px #000 solid;
        border-radius: 100px;
    }
    .sot{
        height: 16px;
        width: 16px;
    }
    .autor-name{
        margin-top: 20px;
        font-size: 28px;
        font-weight: 700;
    }
    .autor-type{
        font-size: 14px;
        color: #6D6E76;
    }
    .tema{
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .f{
        background-color: #232536;
        color: #F4F0F8;
        display: flex;
        align-items: end;
        justify-content: center;
        font-size: 15px;
        border-radius: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    .i{
        background-color: #232536;
        color: #F4F0F8;
        display: flex;
        align-items: end;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.5px;
        justify-content: center;
    }
    .sot-set{
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
    }
    .styles{
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        .style-logo{
            display: flex;
            flex-wrap: wrap;
            gap: 74px;
            justify-content: start;
        }
        .top-text{
            font-size: 14px;
            color: #6D6E76;
        }
        .botom-text{
            font-size: 24px;
            font-weight: 600;
            color: #6D6E76;
        }
    }
    .testimonials{
        background-color: #FBF6EA;
        padding: 80px 111px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        position: relative;
        flex-grow: 1;
        .test-left{
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 16px;
            width: 400px;
            flex-grow: 1;
        }
        .left-text{
            font-size: 16px;
            max-width: 320px;
        }
        .left-title{
            font-size: 36px;
            font-weight: 700;
            letter-spacing: -2px;
            max-width: 300px;
        }
        .test-right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            gap: 120px;
            margin-left: 120px;
        }
        .profel{
            display: flex;
            gap: 16px;
        }
        .right-text{
            font-size: 24px;
            font-weight: 600;
            line-height: 1.3;
        }
        .test-left::after{
            content: '';
            width: 1px;
            position: absolute;
            right: 0;
            height: 100%;
            background-color: #6D6E76;
            left: 220px;
        }
        .img{
            height: 44px;
            width: 44px;
            border: 2px #000 solid;
            border-radius: 100px;
        }
        .name{
            font-size: 24px;
            font-weight: 600;
        }
        .profel-left{
            display: flex;
            gap: 16px;
        }
        .town{
            font-size: 16px;
            color: #6D6E76;
            line-height: 1.5;
        }
    }
    .join{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .join-title{
            font-size: 36px;
            font-weight: 700;
            max-width: 414px;
        }
        .read{
            width: 194px;
            height: 56px;
            margin-top: 32px;
            background-color: #FFD050;
            border: none;
            font-size: 18px;
            font-weight: 700;
        }
        .join-text{
            font-size: 16px;
            color: #6D6E76;
            max-width: 405px;
            margin-top: 16px;
        }
    }
}
@media screen and (max-width: 945px) {
    .post{
        flex-direction: column;
    }
    .big-card{
        max-width: 669px;
        padding: 20px !important;
        img{
            max-width: 100%;
        }
        padding: 20px;
    }
    .category{
        .items{
            flex-wrap: wrap;
        }
        .item{
            width: 290px;
        }
    }
    .autor{
        .autor-cards{
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .autor-card{
            width: 47%;
        }
        .styles{
            .style-logo{
                gap: 30px;
            }
        }
    }
    .blog-up{
        .hero__container{
            flex-direction: column;
        }
        .img{
            height: 100%;
        }
    }
}
@media screen and (max-width: 768px) {
    .about__container{
        flex-direction: column;
    }
    .about-down{
        padding: 40px 10px !important;
    }
    .right{
        width: 100%;
    }
    .category{
        .item{
            width: 36%;
        }
    }
    .posts{
        .card{
            flex-direction: column;
            align-items: start;
        }
        .post-img{
            width: 100%;
            height: 100%;
        }
    }
    .start{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .start-left{
            width: 100%;
        }
        .right-cont{
            padding: 0;
        }
        .start-right{
            width: 100%;
            height: 100%;
            justify-content: start;
        }
    }
    .autor{
        .testimonials{
            flex-direction: column;
            gap: 30px;
            padding: 50px 40px;
            .test-right{
                padding: 0;
                margin-left: 0;
            }
            .test-left{
                width: 100%;
            }
            .test-left::after{
                position: relative;
                height: 1px;
                margin-top: 20px;
                width: 100%;
                left: 0;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .category{
        .item{
            width: 100%;
        }
    }
    .autor{
        .autor-cards{
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .autor-card{
            width: 100%;
        }
    }
}
@media screen and (max-width: 425px) {
    .about{
        .about-title{
            font-size: 28px;
        }
    }
}